{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
<h1>Hey mon compte</h1>


    {% if is_granted('ROLE_ADMIN') %}
        - <a href="/admin"> Vous êtes un administrateur ? </a><br/>
    {% endif %}

    bienvenue {{ app.user.firstname }} dans votre compte<br>
    <a href="{{ path('app_account_password')  }}">Modifier mon mot de passe</a>

{% endblock %}
