.panier-boisson-link{
    display: inline;
    text-decoration: none;
    color : #e8e8e8;
    // font-size: 1.2rem;

}

.color-primary{
    background-color: #d0cdc2;
}
.color-secondary {
    background-color : #f2f2f2;
}
.color-tertiary {
    background-color : #8a3d2e;
}
