<footer class="footer-hidden">
	<div class="footer-topBar"></div>
	<div class="footer-bottomBar">
		<div class="conteneurHaut">
			<div class="colonneContact">
				<h3>On parle de nous!</h3>
				<ul>
					<li>
						<a href="https://www.petitfute.com/v1470-andernos-les-bains-33510/c1165-restaurants/c1031-cuisines-du-monde/1602281-com-d-roy.html">Petit futé</a>
					</li>
					<li>
						<a href="https://www.tripadvisor.fr/Restaurant_Review-g1079322-d10367122-Reviews-Com_D_Roy-Andernos_les_Bains_Gironde_Nouvelle_Aquitaine.html">TripAdvisor</a>
					</li>
				</ul>
				<br>
				<h3>Contactez-nous!</h3>
				<p>
					<i class="far fa-envelope"></i>Email: com.d.roy@orange.fr</p>
				<p>
					<i class="fas fa-phone"></i>Téléphone: 05 56 82 04 23</p>
				<ul>
					<li>
						<i class="fab fa-facebook"></i>
						<a href="https://www.facebook.com/ComDRoy">Facebook</a>
					</li>
				</ul>
			</div>
			<div class="colonneHoraires">
				<h3>Venez nous voir!</h3>
				<p>288 Boulevard de la République</p>
				<p>33510 Andernos-les-Bains</p>
				<br>
				<h3>Horaires d'ouverture</h3>
				<p>Lundi: Fermé</p>
				<p>Mardi: Fermé</p>
				<p>Mercredi: 9h - 21h</p>
				<p>Jeudi: 9h - 21h</p>
				<p>Vendredi: 9h - 21h30</p>
				<p>Samedi: 9h - 21h30</p>
				<p>Dimanche: 9h - 21h</p>
			</div>
			<div class="colonneNewsletters">
				<h3>Abonnez-vous</h3>
				<input type="email" placeholder="Votre adresse email">
				<label for="abonnementCheckbox">
					<input type="checkbox" id="abonnementCheckbox">
					Je m'abonne
				</label>
				<button type="submit">Envoyer</button>
			</div>
			<div class="colonneAvis">
				<h3>Nos Avis</h3>
			</div>
		</div>
		<div class="conteneurMilieu">
			<ul class="liensFooter">
				<li>Politique de confidentialité</li>
				<li>
					<a href="../pages/mentions-legales.html">Mentions Légales</a>
				</li>
				<li>
					<a href="../pages/cgu.html">Conditions Générales d'Utilisation</a>
				</li>
			</ul>
		</div>
		<div class="conteneurBas">
			<p>@2023</p>
		</div>
	</div>
</footer>
