{% if app.request.pathinfo == '/produits/' %}
	{% set encartText = "Carte & Menu" %}
	{% set pathImg = '/uploads/images/carte/menu-carte.jpg' %}
{% endif %}
{% if app.request.pathinfo == '/homepage/' %}
	{% set encartText = "Accueil" %}
	{% set pathImg = '/uploads/images/accueil/acceuil-principal.jpg' %}
{% endif %}

<img src='{{ pathImg }}' alt='{{ encartText }}' class="image"/>
<div class="menu-encart-cadre">
	<h1 class="menu-encart-texte">{{ encartText }}</h1>
</div>
