{% set encartText = "Inconnu" %}
{% set pathImg = '/uploads/images/accueil/acceuil-principal.jpg' %}

{% if app.request.pathinfo == '/' %}
	{% set encartText = "Accueil" %}
	{% set pathImg = '/uploads/images/accueil/acceuil-principal.jpg' %}
{% endif %}
{% if app.request.pathinfo == '/carte' %}
	{% set encartText = "Carte & Menu" %}
	{% set pathImg = '/uploads/images/carte/menu-carte.jpg' %}
{% endif %}
{% if app.request.pathinfo == '/mon-panier' %}
	{% set encartText = "Cave à vins" %}
	{% set pathImg = '/uploads/images/carte/menu-carte.jpg' %}
{% endif %}


<img src='{{ pathImg }}' alt='{{ encartText }}' class="image"/>
<div class="menu-encart-cadre">
	<h1 class="menu-encart-texte">{{ encartText }}</h1>
</div>
