{% extends 'base.html.twig' %}


{% block title %}Nos produits
{% endblock %}

{% block body %}
	<h1>Nos produits</h1>

	<div class="menu-colonne-gauche">
		<div class="bordered-content">
			{% for key, items in products %}
				<h4>{{ key }}</h4>
				{% for item in items %}
					<div class="menu-gauche-donnees">
						<a href="{{ path('app_item_show', { 'slug' : item.slug }) }}">
							{{ item | dots }}
							€
						</a>
					</div>
				{% endfor %}
			{% endfor %}
		</div>
	</div>
{% endblock %}
